// font
$f_1: "Roboto", sans-serif;
$f_2: "Ranchers", cursive;
$f_3: "Kosugi Maru", sans-serif;
$base_font: "Ranchers", "Kosugi Maru", sans-serif;

// color
$yellow: #ffe78f;
$light-yellow: #f6f4e6;
$black: #41444b;
$gray: #eeeeee;

$primary: $yellow;
$secondary: $light-yellow;
