// font
$f_1: "Noto Sans JP", sans-serif;
$f_2: "Fredoka One", sans-serif;
$f_3: "Baloo 2", cursive;
$base_font: "Noto Sans JP", "Fredoka One", sans-serif;

// color
$black: #333;
$yellow: #fddb3a;
$gray: #c4c4c4;
$liteyellow: #f6f4e6;
