.footer {
  background-color: $secondary;
  &__inner {
    max-width: 1200px;
    margin: auto;
    padding: 40px 0px;
  }
  &-txt1 {
    font-size: 20px;
    font-family: $f_3;
    span {
      margin: 0 10px;
      font-family: $f_2;
    }
  }
  &-txt2 {
    font-size: 15px;
    margin-bottom: 20px;
    font-family: $f_3;
    span {
      font-family: $f_2;
    }
  }
}
