.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background: $black;
  &__inner {
    height: 100px;
    max-width: 1080px;
    padding: 0 16px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: 207px;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__btn1 {
    display: block;
    background: white;
    font-size: 24px;
    font-weight: 700;
    padding: 11px 20px;
    border-radius: 100vh;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
