.header {
  background-color: $primary;
  &__inner {
    max-width: 1200px;
    padding: 20px 0px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-title {
    font-family: $f_2;
    font-size: 40px;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      background-image: url("../images/barn.svg");
      display: block;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
  &-nav {
    ul {
      display: flex;
      li {
        font-size: 20px;
        font-family: $f_2;
        letter-spacing: 0em;
        &:not(:last-child) {
          margin-right: 20px;
        }
        span {
          margin-left: 10px;
          font-size: 10px;
        }
      }
    }
  }
}
