.home {
  h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  &-content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    &__wrap {
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
  %_input {
    flex-basis: 100%;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    border: solid 5px $black;
  }
  %-label {
    font-size: 20px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: $primary;
  }
  .input1 {
    @extend %_input;
    &-label {
      @extend %-label;
    }
  }
  .input2 {
    @extend %_input;
    &-label {
      @extend %-label;
    }
  }
  .display {
    &-aria {
      width: 100%;
      margin: 0px 20px;
      padding: 20px;
      &__empty {
        padding: 20px;
        background-color: gray;
      }
    }
    &-items {
      padding: 20px;
      background-color: $primary;
      &__btn {
        margin-top: 40px;
        padding: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: teal;
        color: white;
        font-size: 20px;
        letter-spacing: 0.5em;
      }
    }
    &-item {
      font-size: 24px;
      letter-spacing: 0.3em;
      padding: 10px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &__btn {
        padding: 10px;
        background-color: $secondary;
      }
    }
  }
}
