.top-hero {
  margin-bottom: 40px;
  section {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    h1 {
      flex-basis: 50%;
      font-size: 80px;
      color: rgba(0, 0, 0, 0);
      background-image: url("../images/ptn_2.svg");
      background-clip: text;
      span {
      }
    }
    div {
      flex-basis: 50%;
      font-size: 20px;
    }
  }
}
